body {
    font-family: var(--font-roboto);
    line-height: 1.2vh;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 99vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--active-green);
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8.333vh;
    background: white;
    z-index: 10;
}

.navigation {
    margin-left: 19.5vw;;
}

.menu_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list_item {
    padding-right: 1.5vw;
}

.phone {
    margin-right: 1.316vw;
    margin-left: 3vw;
}

.phone_number {
    color: var(--active-green);
    text-decoration: none;
    font-family: var(--font-rubik);
    font-size: 1vw;
    font-weight: 700;
    line-height: 1vh;
    text-align: center;
}

.call_btn {
    font-family: var(--font-rubik);
    font-size: .85vw;
    font-weight: 700;
    line-height: 1vh;
    text-decoration: none;
    color: var(--active-green);
}

.header_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.741vh;
    width: 9.211vw;
    border-radius: 1.316vw;
    border: 2px solid var(--active-green);
    background: var(--active-green);
    cursor: pointer;
}

.header_btn:hover {
    background: white;
}

.header_btn:hover .header_call_btn {
    color: var(--active-green);
}

.header_call_btn {
    color: white;
}

.header_menu {
    font-family: var(--font-raleway);
    font-size: .83vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1vh;
    text-decoration: none;
    color: var(--gray);
}

.logo {
    margin-left: 10.526vw;
}

.logo_img {
    max-width: 6.5vw;
    height: auto;
}

.main_content__wrapper {
    display: flex;
    margin-top: 10.648vh;
}

.text_social_wrapper {
    display: flex;
    z-index: 2;
    margin-top: 8.333vh;
}

.main_text_container {
    display: flex;
    flex-direction: column;
    width: 23.947vw;
    padding-left: 17.474vw;
}

.main_title_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title_blur {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    width: 34.737vw;
    height: 28.704vh;
    border-radius: 3.684vw;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.4462) 0%, rgba(255, 255, 255, 0.6014) 27.6%, rgba(255, 255, 255, 0.97) 46.87%, rgba(255, 255, 255, 0) 100%);
}


.subtitle {
    height: 6.019vh;
    width: 14.474vw;
    font-family: var(--font-raleway);
    font-size: 1vw;
    font-weight: 300;
    line-height: 2.685vh;
    color: var(--dark-gray);
}

.social_link:not(:first-child) {
    /*padding-top: 5.093vh;*/

}

.social_link {
    padding: 2vh;
    box-sizing: border-box;
    border: 2px solid white;

}

.social_link:hover {
    margin: 0;
    border-radius: 20px;
    border: 2px solid var(--active-green);

}

.main_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.741vh;
    width: 9.211vw;
    border-radius: 1.316vw;
    margin-top: 5.093vh;
    border: 3px solid var(--active-green);
    background-color: white;
    font-family: var(--font-rubik);
    font-size: 1vw;
    font-weight: 700;
    line-height: 1vh;
    padding: 0;
    cursor: pointer;
}

.main_btn:hover {
    background: var(--active-green);
}

.main_btn:hover .call_btn {
    color: white;
}

.social_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.158vw;
    position: fixed;
    top: 19.444vh;
    margin-left: 8vw;
    z-index: 2;
    border-radius: 0.947vw;
    padding: 0.947vh 0;
    margin-top: 6vh;
}

.main_image {
    position: absolute;
    top: 12.5vh;
    left: 36.842vw;
    max-width: 53.526vw;
}

.main_image_title {
    max-width: 29vw;
    height: auto;
}


.title_wrapper {
    width: 8.947vw;
    color: var(--beige);
    font-family: var(--font-rubik);
    font-size: 1.579vw;
    font-weight: 500;
    line-height: 3.333vh;
    padding-left: 12.632vw;
    border-bottom: 1px solid var(--beige);
}


/*PHOTO GALLERY*/
.gallery_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.gallery_content {
    display: flex;
    align-items: center;
    position: relative;
    width: 75.368vw;
    height: 46.204vh;
}

.gallery_unit {
    display: flex;
    width: 37vw;
}

.gallery_one_pic {
    height: 46.204vh;
}

.gallery_two_pic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 46.204vh;
    margin-left: 0.789vw;
}

.lower_gallery_pic {
    margin-top: 1.55vh;
}

.gallery_image {
    max-width: 18.211vw;
}

.second_gallery_unit {
    margin-left: 0.789vw;;
}

.instagram_image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 17vh;
    width: 8vw;
    background-color: white;
    border-radius: 2.5vw;
    z-index: 5;
}

.instagram_image img {
    width: 4.737vw;
    height: 8.333vh;
}


/*ADVANTAGES START*/


.advantages_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.advantages_title {
    width: 29vw;
}

.advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.advantage_wrapper {
    display: flex;
    width: 27.789vw;
}

.advantage_wrapper:not(:first-child) {
    margin-top: 5vh;
}

.single_advantage {
    width: 23.684vw;
    margin-left: 1.526vw;
}

.advantage_icon {
    align-self: flex-start;
}

.advantage_title {
    display: flex;
    align-items: center;
    margin: 0;
    height: 5vh;
    font-family: var(--font-rubik);
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 31px;
    color: var(--active-green);
}

.advantage_text {
    font-family: var(--font-raleway);
    font-weight: normal;
    font-size: .9vw;
    line-height: 1.1vw;
    color: var(--dark-gray);
}


.possibilities {
    max-height: 90vh;
    min-height: 73vh;
    max-width: 45vw;
    margin-left: 4vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/wood.jpg");
}

.one_possibility {
    width: 30.947vw;
    display: flex;
    align-items: center;
    position: relative;
    left: -25px
}

.one_possibility:not(:first-child) {
    margin-top: 3vh;
}

.possibility_text {
    font-family: var(--font-raleway);
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.1vw;
    color: var(--dark-gray);
    margin-left: 25px;
}

.possibility_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3.646vw;
    min-height: 6.481vh;
    max-width: 3.646vw;
    max-height: 6.481vh;
    background-color: white;
    border-radius: 22px;
}

.possibilities_title {
    margin: 0;
    padding-left: 55px;
    padding-top: 3vh;
    font-family: var(--font-rubik);
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 31px;
}

/*ADVANTAGES END*/

/*DELIVERY START*/

.delivery_main_wrapper {
    width: 100%;
    height: 70vh;
}

.delivery_title {
    width: 15vw;
}

.delivery_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.delivery_content {
    margin-top: 12vh;

}

.delivery_text {
    margin: 0;
    font-family: var(--font-raleway);
    font-size: 1vw;
    line-height: 32px;
    color: var(--gray);

}

.delivery_options {
    margin-left: 6.316vw;
}

.delivery_list {
    position: relative;
    left: -1vw;
    margin: 0 0 2vh 0;
}

.delivery_list_item {
    padding: 1vh;
    margin: 0;
    font-family: var(--font-raleway);
    font-size: 1vw;
    color: var(--gray);
}

.delivery_icon {
    margin-bottom: 5vh;
}

.delivery_subtitle_text {
    margin-top: 3vh;
}

/*DELIVERY END*/


/*FORM START*/
.form_main_title {
    width: 13.2vw;
}

.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 32vw;
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid #B9EE76;
    border-radius: 95px;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.form_input {
    height: 5vh;
    width: 17vw;
    background: #FFFFFF;
    border: 1px solid #B9EE76;
    border-radius: 12px;
    outline: none;
    margin-bottom: 1.5vh;
    padding-left: 1vw;

}

.form_input::-webkit-input-placeholder {
    font-family: var(--font-raleway);
    font-size: 14px;
    line-height: 16px;
    color: #9FA8BD;
}

.form_input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.6s ease;
}

.send-mail {
    height: 6vh;
    width: 18.5vw;
    background: var(--active-green);
    border-radius: .7vw;
    margin-top: 5vh;
    padding: 0;
    font-family: var(--font-rubik);
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 2vh;
    color: white;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;

}

.form_title {
    margin: 0;
    color: var(--gray);
    font-family: var(--font-raleway);
    font-size: 1vw;
    line-height: 2vh;
    text-align: center;
}

/*FORM END*/
.footer {
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: var(--green-footer);
    color: white;
}

.footer_content {
    display: flex;
}

.footer_menu_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_navigation {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 20vw;
}

.footer_list_item {
    padding-bottom: 4vh;
}

.footer_menu_link {
    font-family: var(--font-raleway);
    font-size: 1vw;
    line-height: 2vh;
    text-decoration: none;
    color: white;

}

.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 10vw;
    font-family: var(--font-raleway);
    font-size: 1vw;
    line-height: 2vh;
}

.contacts_info {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.contacts_info span {
    padding-left: .6vw;
}

.contacts_title {
    font-family: var(--font-rubik);
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 2.1vh;
    padding-bottom: 2.5vh;
    margin: 0;
}

.address {
    font-family: var(--font-roboto);
    font-size: 1vw;
    line-height: 2.5vh;
    margin-bottom: 2vh;
}


/*MEDIA*/
